<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/res-android"
    package="eu.kanade.tachiyomi.extension.pt.nebulosa">

    <application
        android:label="Nebulosa"
        android:hasCode="true">
        
        <meta-data
            android:name="tachiyomi.extension.class"
            android:value=".Nebulosa" />
            
    </application>
</manifest>
